.brown-border {
    -fx-background-color: #F5F0E7;
    -fx-border-color: #362824;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-style: solid;
}

.text-area-and-lists {
    -fx-background-color: transparent;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color:  #362824;
    -fx-border-radius: 10 10 10 10;
    -fx-border-width: 1.7;
}

.check-box .box {
    -fx-background-color: #F5F0E7;
    -fx-border-color: #362824;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: #F5F0E7;
}

.check-box:selected .box {
    -fx-background-color: #362824;
}

.text-area {
    -fx-background-color: #EAE4DE;
}